@charset "utf-8";
body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    color: #333;
    background: slateblue;
    font-size: 1em;
    font-family: Comic sans MS, sans serif;
    line-height: 100%;
    margin: 0;
}
table {
    border: 2px solid black;
    width:100%;
    height: 23vw;
    max-width: 500px;
    max-height: 350px;
    margin-left: 6vw;
}
.about img{
    max-width: 80%;
    height: auto;
}
form{
    order:1;
}
table{
    order: 2;
}
header, footer {
    width: 100vw;
    margin: 0 auto;
    background-color: olivedrab;
    border: 2px outset black;
}
header {
border-bottom: 2px outset forestgreen;
    height:18vh;
    max-height:30px;
    padding:25px;
}
footer{
    border-top: 0px outset forestgreen;
}
.logo{
    width:35vw;
    float:left;
    height:10vw;
    display:block;
    font-size:25px;

}
.Name{
    display: block;
    width:80vw;
    max-width:900px;
    text-decoration:none;
    color: brown;
    font-size:4vw;
    margin: 0% 0% 0% 0%;
}
.WEB{
    color: brown;
}
.SITE{
    color: chocolate;
}
nav{
    width:100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
}
nav  a{
    display: block;
    font-size: 1.3rem;
}
nav:before{
    content:"";
    display:block;
    height:50px;
    width:100%;
    background: black;
    position: absolute;
    left:0;
    z-index:-1;
}
.MainBlock{
    background-color: grey;
    max-width: 900px;
    margin: 0 auto;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
    height:50px;
}
ul li{
    float:left;
}
ul li a {
    color:#fff;
    display:block;
    height:50px;
    padding:0 30px;
    text-transform:uppercase;
    text-decoration:none;
    line-height:50px;
}
ul li a:hover{
    background: forestgreen;
}


th {
    border: 2px outset black;
}
td {
    border: 2px outset black;
}

tr{
    background-color: slategrey;
    font-size:15px;
}
@media only screen and (min-width:780px) and (orientation:landscape){
    header{
        height: 16vh;
        max-height: 213px;
    }
    nav {
        height: auto;
        justify-content: space-between;
        flex-direction: row;
        max-width:960px;
        margin: 0 auto;
    }
    nav  a{
        flex: 1 0 auto;
        text-align: center;
        align-items: center;
        font-size: 2.5vh;
    }

    .name{
        font-size: 5.2vw;
        margin:2% 0 2% 0 ;
    }
    .about{
        margin:0 auto ;
    }
    .about table{
        order: 1;
    }
    .about form{
        order:2
    }
}